@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";


@theme {
  --font-manrope: "Manrope", san-serif;
  --color-blue: #002642;
}


:root {
  --j-yellow: #e59500;
  --j-blue: #002642;
  --j-claret: #840032;
  --j-white: #e5dada;
  --j-darkblue: #03071D;
}

body {
  margin: 0 auto;
  padding: 0;
  min-height: 100vh;
  overflow: hidden;
}

